{% styles %}

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Plugin Form for frontend</h3>
		</div>
		<div class="panel-body">
			<p>This "Form" is shown by adding the component to the page in the backend. Submitting this form will post data to the database and can be viewed by the admin.</p>
			<p>The items must be confirmed by the admin before the can be displayed in the list on the left.</p>
			
			<br />
			{{ errors.first('title', '<div class="alert alert-warning oc-alert-custom">Title field is required.</div>')|raw }}
			{{ errors.first('email', '<div class="alert alert-warning oc-alert-custom">Email field is required.</div>')|raw }}
			{{ errors.first('review', '<div class="alert alert-warning oc-alert-custom">Review field is required.</div>')|raw }}
			{{ errors.first('image_upload', '<div class="alert alert-warning oc-alert-custom">Image field is required.</div>')|raw }}
			
			{{ form_open( { request: 'onSubmitReview', files: true, } ) }}
				<input name="published" value="0" type="hidden">
				<div class="form-group">
					<label for="labelTitle">Title</label>
					<input name="title" type="text" class="form-control" id="labelTitle" value="{{form_value('title')}}" placeholder="Title">
				</div>
				<div class="form-group">
					<label for="labelEmail">Email</label>
					<input name="email" type="email" class="form-control" id="labelEmail" value="{{form_value('email')}}" placeholder="Email Address">
				</div>
				<div class="form-group">
					<label for="labelReview">Review</label>
					<textarea name="review" class="form-control" rows="3" id="labelReview" value="{{form_value('review')}}" placeholder="Some content..."></textarea>
				</div>
				<div class="form-group">
					<label for="labelUpload">Upload Image</label>
					<input name="image_upload" type="file">
				</div>
				<button class="btn btn-primary" id="test">Submit Review</button>
			</form>
		</div>
	</div>
</div>