{% styles %}

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Plugin Form for frontend</h3>
		</div>
		<div class="panel-body">
			<p>This "Form" is shown by adding the component to the page in the backend. Submitting this form will post data to the database and can be viewed by the admin.</p>
			<p>The items must be confirmed by the admin before the can be displayed in the list on the left.</p>
			
			<br />
			
			{{ form_open({ request: 'onSubmitReview', files: true }) }}
				<input name="published" value="0" type="hidden">
				<div class="form-group">
					{{ errors.first('title', '<div class="alert alert-warning oc-alert-custom">Title field is required.</div>')|raw }}
					<label for="labelTitle">Title</label>
					<input name="title" type="text" class="form-control" id="labelTitle" placeholder="Title">
					<br />
				</div>
				
				<div class="form-group">
					<label for="labelEmail">Email</label>
					<input name="email" type="email" class="form-control" id="labelEmail" placeholder="Email Address">
					<br />
					{{ errors.first('email', '<div class="alert alert-warning oc-alert-custom">Email field is required.</div>')|raw }}
				</div>
				<div class="form-group">
					<label for="labelReview">Review</label>
					<textarea name="review" class="form-control" rows="3" id="labelReview" placeholder="Some content..."></textarea>
					<br />
					{{ errors.first('review', '<div class="alert alert-warning oc-alert-custom">Review field is required.</div>')|raw }}
				</div>
				<div class="form-group">
					<label for="labelUpload">Upload Image</label>
					<input name="image_upload" type="file" >
					{{ errors.first('image_upload', '<div class="alert alert-warning oc-alert-custom">Image field is required.</div>')|raw }}
				</div>
				<button class="btn btn-primary" id="test">Submit Review</button>
			</form>
		</div>
	</div>
</div>